<div class="alert alert-warning">
    <h2>Contacto</h2>
    <h4>{{info}}</h4>
    <ul>
        <li>direccion 1</li>
        <li>direccion 2</li>
        <li>direccion 3</li>
    </ul>
    <br>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" ng-model="nuevoDato" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" ng-click="enviar(nuevoDato)" type="submit">Modificar</button>
    </form>
</div>